/**
 * TRANSACTION CARD COMPONENT
 */

:host {
    --padding-card: 1.2rem;
    --br-card: 2rem;
}

/* Main container */
.transaction-card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    box-shadow: 0 0 40px 15px var(--shadow);
    border-radius: var(--br-card);
    width: clamp(20rem, 90vw, 25rem);
    height: clamp(30rem, 70vw, 60rem);
    max-height: 80vh;
    margin: 0 auto;
    position: relative;
}


/* Fixed header */
.transaction-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-card);
    border-bottom: 1px solid var(--bg-clear);
}

.transaction-card__title {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0;
}

.transaction-card__header button i {
    font-size: 2rem;
    color: var(--shadow);
}

/* Scrollable content area */
.transaction-card__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: var(--padding-card);
    overflow-y: auto;
    flex: 1;
}

/* Selector type (income - expense) */
.type-selector {
    display: flex;
    background-color: var(--bg-clear);
    border-radius: 0.8rem;
    padding: 0.2rem;
    gap: 0.3rem;
}

.type-selector__btn {
    flex: 1;
    padding: 0.6rem;
    border: none;
    border-radius: 0.6rem;
    font-weight: 600;
    color: var(--text-clearer);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Active selector types */
.type-selector__btn--expense.active {
    background-color: var(--bg);
    color: #ff4d4d;
}

.type-selector__btn--income.active {
    background-color: var(--bg);
    color: #2ecc71;
}

/* Generic styles */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group__label {
    color: var(--text-clearer);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

/* Amount input */
.form-group__amount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group__input-wrapper {
    width: 100%;
    position: relative;
}

.form-group__input-wrapper span {
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    color: var(--text-clearer);
    font-size: 2rem;
    font-weight: 700;
}

.form-group__input-amount {
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    border: 2px solid var(--bg-clear);
    background-color: var(--bg-clear);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    position: relative;
}

.form-group__input-amount.active-income {
    color: #2ecc71;
}

.form-group__input-amount.active-expense {
    color: #ff4d4d;
}

/* Date Picker (Overwrite Material styles) */
.form-group__date-picker {
    border-radius: 1.5rem;
    width: 100%;
}

/* Fixed footer */
.transaction-card__footer {
    padding: var(--padding-card);
    border-top: 1px solid var(--bg-clear);
}

.btn-submit {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--text-titles);
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.container-add-category {
    position: absolute;
    background-color: grey;
}