:host {
    --modal-bg: #ffffff;
    --text-main: #1e293b;
    --border-color: #f1f5f9;

    --blue-bg: #eff6ff;
    --blue-text: #2563eb;

    --green-bg: #f0fdf4;
    --green-text: #166534;

    --gray-bg: #f8fafc;
    --gray-text: #475569;
}

.status-modal {
    width: clamp(15rem, 18vw, 20rem);
    max-width: 450px;
    background-color: var(--modal-bg);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    padding: 24px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 16px;
}

.modal-header h2 {
    font-size: 20px;
    color: var(--text-main);
    font-weight: 700;
    margin: 0;
}

.btn-close {
    background: none;
    border: none;
    color: #94a3b8;
    font-size: 18px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.status-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid transparent;
}

.status-option:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.status-text {
    font-weight: 600;
    font-size: 16px;
}

.status-icon {
    font-size: 22px;
    display: flex;
    align-items: center;
}


.status-option.active {
    background-color: var(--blue-bg);
    color: var(--blue-text);
    border-color: #dbeafe;
}

.status-option.completed {
    background-color: var(--green-bg);
    color: var(--green-text);
    border-color: #dcfce7;
}

.status-option.abandoned {
    background-color: var(--gray-bg);
    color: var(--gray-text);
    border-color: #e2e8f0;
}