.container-main {
    background-color: var(--bg-clear-transparent);
    height: 4.5rem;
    position: fixed;
    z-index: 500;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
    border: none;
}

.navbar-scrolled {
    border-bottom: 1px solid var(--bg-clear);
    height: 5rem;
}

.container-links ul {
    display: none;
}

.container-buttons .btn-login,
.container-buttons .btn-start {
    display: none;
}

.btn-menu {
    border-radius: 1rem;
    background-color: var(--text-titles-secundary);
    border: none;
    width: 3rem;
}

.btn-menu:active {
    transform: scale(0.8);
    border: none;
    box-shadow: 0 0 3px 1px var(--text-titles-secundary);
}

.btn-menu i {
    color: var(--bg);
    font-size: 1.3rem;
}

.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 1040;
    cursor: pointer;
    animation: fadeIn 0.3s ease;
}

.container-sidebar {
    position: fixed;
    top: 0;
    right: -320px;
    width: 10rem;
    height: 100vh;
    background-color: var(--bg-transparent);
    z-index: 1050;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
    transition: right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 2rem;
    border-radius: 1rem;
    &.active {
        right: 0;
    }
}

.container-sidebar h2 {
    font-weight: 700;
    color: var(--text-default);
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.container-sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.container-sidebar ul li {
    list-style: none;
}

.container-sidebar ul li a {
    text-decoration: underline;
    color: var(--text-default);
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}

.container-sidebar .underline {
    width: 10rem;
    height: 1px;
    background-color: black;
    margin-top: 2rem;
}

.container-sidebar .btn-login {
    margin-top: 2rem;
    background-color: var(--text-titles-secundary);
    width: 10rem;
    color: var(--bg);

}

.container-sidebar .btn-start {
    background-color: var(--text-titles);
    color: var(--text-default);
    width: 100%;

    width: 10rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Desktop - Portatil - Tablet (Air, Pro)*/
@media (min-width: 768px ) {

    .container-links ul {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 4rem;
        gap: 2rem;
    }

    .container-links ul li a {
        text-decoration: none;
        color: var(--text-clear);
        font-size: 1rem;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
    }

    .container-links ul li a::after {
        content: "";
        position: absolute;
        height: 0.2rem;
        width: 0;
        bottom: 0;
        left: 0;
        background-color: var(--text-titles);
        transition: all 0.5s;
    }

    .container-links ul li a:hover::after {
        width: 100%;
    }

    .container-links ul li a:hover {
        color: var(--text-titles);
        font-size: 1.2rem;
    }

    .container-buttons .btn-login,
    .container-buttons .btn-start {
        display: block;
    }

    .container-buttons {
        margin-right: 1rem;
        gap: 1rem;
    }

    .container-buttons .btn-login {
        border: none;
        width: 5rem;
        font-weight: 600;
        border-radius: 2rem;
        transition: all 0.5s ease-in-out;
        position: relative;
        overflow: hidden;
        z-index: 0;
        color: var(--text-clear);
    }

    .container-buttons .btn-login::before {
        content: "";
        position: absolute;
        height: 120%;
        width: 0;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: var(--text-titles-secundary);
        transition: all 0.5s ease-in-out;
    }

    .container-buttons .btn-login:hover {
        color: var(--bg);
        transform: scale(1.1);
    }

    .container-buttons .btn-login:hover::before {
        width: 100%;
    }

    .container-buttons .btn-login:active {
        transform: scale(0.9);
    }

    .container-buttons .btn-start {
        background-color: var(--text-titles);
        border-radius: 2rem;
        color: var(--bg);
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }

    .container-buttons .btn-start span {
        position: absolute;
        content: "";
        left: -20px;
        transition: all 0.5s ease-in-out;
    }

    .container-buttons .btn-start:hover span {
        left: 20px;
    }

    .container-buttons .btn-start:hover {
        padding-left: 2.8rem;
        transform: scale(1.1);
    }

    .container-buttons .btn-start:active {
        transform: scale(0.8);
    }

    .container-buttons .btn-menu {
        display: none;
    }
}
