.container-main {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: #f4fffe;
}

.container-info {
    display: none;
}

.register-container {
    display: flex;
    flex-direction: column;
    gap: clamp(0.3rem, 4vw, 5rem);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register-card {
    box-shadow: 0 0 40px 5px var(--shadow);
    border-radius: 2rem;
    padding: clamp(1.5rem, 4vw, 5rem);
    width: clamp(20rem, 45vw, 40rem);
    height: auto;
    background-color: var(--bg);
}

.container-header header {
    color: var(--text-default);
    font-weight: 600;
    font-size: clamp(0.8rem, 4.5vw ,2.53rem);
}

.container-header h6 {
    color: var(--text-clear);
    font-size: clamp(0.8rem, 2vw, 2rem);
}

.container-form {
    padding-top: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    position: relative;
}

.input-group label {
    text-align: left;
    font-size: clamp(0.8rem, 2.5vw, 1.5rem);
    padding-bottom: 0.4rem;
    color: var(--text-default);
    font-weight: 600;
}

.input-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrapper input {
    width: 100%;
    box-sizing: border-box;
    padding-top: clamp(0.6rem, 2vw, 1rem);
    padding-left: clamp(3rem, 2vw, 4rem);
    padding-bottom: clamp(0.6rem, 2vw, 1rem);
    border-radius: 0.5rem;
    border: 1px solid var(--border-color, #ccc);
    font-size: clamp(0.8rem, 2.5vw, 2rem);
}

.input-wrapper i:first-child {
    position: absolute;
    left: 1rem;
}

.input-wrapper i:nth-child(2) {
    position: absolute;
    right: 1rem;
}

.error-container {
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 0;
    font-weight: 500;
}

form button {
    margin-top: 1rem;
    width: 100%;
    background-color: var(--text-titles);
    padding-top: clamp(0.6rem, 2vw, 1rem);
    padding-bottom: clamp(0.6rem, 2vw, 1rem);
    text-align: center;
    border-radius: 0.5rem;
    color: var(--bg);
    font-weight: 600;
    font-size: clamp(1rem, 2.5vw, 3rem);
}

.container-form p {
    margin-top: 1rem;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    color: var(--text-clear);
}

.divider {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--text-clear);
    font-size: 0.9rem;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #e5e7eb;
}

.divider span {
    padding: 0 1rem;
    white-space: nowrap;
}

.container-buttons-social {
    margin-top: 1rem;
    display: inline-flex;
    
    width: 100%;
    justify-content: space-between;

}

.wrapper-google .google, .wrapper-github .github {
    background-color: var(--bg-clear);
    border: 1px solid var(--shadow);
    border-radius: 0.5rem;
    width: 100%;
    font-weight: 500;
    margin: 0;
    width: clamp(8rem, 18vw, 15rem);
    padding-top: clamp(0.1rem, 1.7vw, 1rem);
    padding-bottom: clamp(0.1rem, 1.7vw, 1rem);
    font-size: clamp(0.4rem, 1.1rem, 2rem);
}

.wrapper-google .google span, .wrapper-github .github span {
    padding: 0.5rem;
}

footer {
    margin-top: 1rem;
}

footer span, footer, a {
    font-size: clamp(0.7rem, 2vw, 1rem);
}

footer a {
    color: var(--text-titles-secundary);
}

/*Tablets*/
@media (min-width: 768px) {
    .container-icon {
        transform: scale(1.7);
    }
}

@media (min-width: 1200px) {

    .container-main {
        justify-content: space-around;
    }

    .wrapper-icon {
        transform: scale(1.2);
        cursor: pointer;
    }

    .container-info {
        display: flex;
        align-items: center;
    }

    .container-info h3 {
        width: 30rem;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 2rem;
    }

    .container-info h3 span {
        color: var(--text-titles);
    }

    .container-info p {
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .container-info ul {
        margin-top: 2rem;
    }

    .container-info ul li {
        list-style: none;
        margin-bottom: 0.5rem;
    }
    .container-info ul li i {
        color: var(--text-titles);
        font-size: 1.2rem;
        padding-right: 1rem;
    }

    .container-icon {
        display: none;
    }

    .register-card {
        width: 30rem;
        height: 40rem;
    }

    .container-header header {
        font-size: 1.7rem;
    }

    .container-header h6 {
        font-size: 1rem;
    }

    .input-group label {
        font-size: 0.9rem;
    } 

    .input-wrapper input {
        padding: 0.2rem 3rem 0.2rem;
        font-size: 1rem;
    }

    .container-form button {
        font-size: 1.2rem;
        padding: 0.5rem 0.5rem;
    }

    .container-form p {
        font-size: 0.8rem;
    }

    .wrapper-google .google, .wrapper-github .github {
        width: 10.5rem;
        padding: 0.4rem 0.4rem;
        font-size: 1rem;
    }
    
}

