.container-main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 35%, var(--bg-clear) 49%);
}

.wrapper-floating {
    background-color: var(--bg-green-clear);
    padding: 0.3rem 0.9rem 0.3rem;
    border-radius: 1rem;
    color: var(--text-titles-secundary);
    font-size: clamp(0.9rem, 2.5vw, 2rem);
    font-weight: 600;
}

.container-info h2 {
    margin: 1rem;
    margin-top: 1rem;
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: 600;
}

.container-info h2 span {
    color: var(--text-titles);
}

.container-info p {
    margin: 1rem;
    color: var(--text-clear);
    margin-top: 1rem;
    font-size: clamp(1rem, 3vw, 2rem);
}

.container-switch {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.container-switch input {
    height: clamp(1rem, 4vw, 2rem);
    width: clamp(2rem, 8vw, 5rem);
}

.container-switch span {
    font-size: clamp(0.5rem, 3vw, 2rem);
    font-weight: 500;
}

.container-switch .annual span span {
    color: var(--text-titles);
}

.container-cards {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;
}

.card {
    padding: 2rem 1.5rem 3rem;
    margin: 1rem;
    border-radius: 2rem;
    text-align: left;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px 10px var(--shadow);
}

.card:nth-child(2) {
    border: 3px solid var(--text-titles);
    position: relative;
    overflow: hidden;
}

.card:nth-child(2) .brand {
    position: absolute;
    background-color: var(--text-titles);
    right: 0;
    top: 0;
    padding: 0.8rem;
    border-radius: 0 0 0 1rem;
    font-size: 0.9rem;
    color: var(--bg);
    font-weight: 600;
}


.card span {
    color: var(--text-clearer);
}

.card h4 {
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.card h4 span {
    color: var(--text-clearer);
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;
}

.card button {
    background-color: var(--text-titles);
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: var(--bg);
    font-weight: 600;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.card button:hover {
    background-color: var(--text-titles-secundary);
}

.card h5 {
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--text-clearer);
}

.card ul li {
    list-style: none;
    color: var(--text-default);
}

.card ul li i {
    padding-right: 1rem;
    color: var(--text-titles);
}

.card:first-child ul li:last-child {
    color: var(--text-clearer);
    text-decoration: line-through;
}


.card:first-child ul li:last-child i {
    color: red;
}

/*Tablets*/
@media (min-width: 1024px) {
    .container-cards {
        flex-direction: row;
    }
}

/*Computers*/
@media (min-width: 1200px) {
    .wrapper-floating {
        font-size: 1rem;
    }

    .container-info h2 {
        font-size: 3rem;
    }

    .container-info p {
        font-size: 1.2rem;
    }

    .container-switch input {
        height: 1.5rem;
        width: 3rem;
    }

    .container-switch span {
        font-size: 1.2rem;
    }

    .container-cards {
        margin-top: 1rem;
    }

    .card {
        padding: 2rem 1.5rem 1.8rem;
    }
}

@media (min-width: 1600px) {
    .wrapper-floating {
        font-size: 1.2rem;
    }

    .container-info h2 {
        font-size: 4rem;
    }

    .container-info p {
        font-size: 1.5rem;
    }

    .container-switch input {
        height: 1.8rem;
        width: 4rem;
    }

    .container-switch span {
        font-size: 1.5rem;
    }

    .container-cards {
        margin-top: 2rem;
    }

    .card {
        transform: scale(1.2);
        padding: 2rem 1.5rem 3rem;
    }
}