.container-main {
    height: 100dvh; 
    width: 15rem;   
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    background-color: var(--bg);
    border-right: 1px solid var(--bg-clear-transparent);
    box-shadow: 0 0 15px 2px var(--shadow);
    border-radius: 0 2rem 2rem 0;
    transition: all 0.1s ease-in-out;
}

.sidebar-collapsed {
    width: 5.5rem;
    overflow: hidden;
}

.dissapear {
    display: none;
} 

.divider {
    margin-top: 1rem;
    width: 100%;
    height: 1px;
    background-color: var(--bg-clear-transparent);
}

.container-icon {
    cursor: pointer;
    background: linear-gradient(90deg, var(--text-titles), var(--text-titles-secundary));
    width: 3rem;
    text-align: center;
    height: auto;
    border-radius: 1rem;
    margin-top: 0.3rem;
    transition: all 0.3s ease-in-out;
}

.container-icon i {
    font-size: 1.5rem;
    color: var(--bg);
    box-shadow: 2px 5px 20px 2px var(--text-titles);
}

.container-complete-icon, 
.features {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.container-complete-icon .container-info span {
    position: absolute;
    color: var(--text-clearer);
    font-size: 0.9rem;
    bottom: 0;
    left: 3rem;
}

.features {
    margin-top: 1rem;
    flex-grow: 1; 
}

.features button {
    font-weight: 500;
}

.user {
    display: flex;
    gap: 1rem;
    background-color: var(--bg-clear);
    padding: 0.5rem;
    border-radius: 1rem;
    overflow-x: scroll;
}

.user .container-user i {
    font-size: 2.2rem;
    color: var(--text-titles);
}

.user .container-info-user span {
    display: block;
}

.user .container-info-user .username {
    font-size: 1.1rem;
}

.user .container-info-user .email {
    color: var(--text-clear);
    word-wrap: break-word;
}

.footer {
    margin-top: auto; 
    padding-top: 1rem;
    border-top: 1px solid var(--bg-clear-transparent);
}

.btn {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0.8rem;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 1rem;
    color: var(--text-clear);
    transition: all 0.2s;
    font-size: 1.2rem;
}

.footer button {
    border-radius: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.footer button:hover {
    background-color: orange;
}

.btn i {
    padding-right: 1rem;
    font-size: 1.3rem;
}

.btn:hover {
    background-color: var(--text-titles);
    color: var(--bg);
}